<div class="flex flex-col items-center justify-center gap-4 mt-2">
  <div class="flex items-center gap-8">
    <button
      (click)="irAPagina(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="rounded-md border border-fablab-border p-2.5 text-center text-sm transition-all shadow-sm hover:shadow-lg text-fablab-text-light hover:text-fablab-text-primary hover:bg-fablab-card-bg hover:border-fablab-border focus:text-fablab-text-primary focus:bg-fablab-border focus:border-fablab-border active:border-fablab-border active:text-fablab-text-primary active:bg-fablab-border disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-4 h-4 text-fablab-text-primary"
      >
        <path
          fill-rule="evenodd"
          d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    <p class="text-fablab-text-primary">
      Página
      <strong class="text-fablab-text-primary">{{ currentPage }}</strong> de
      <strong class="text-fablab-text-primary">{{ totalPages }}</strong>
    </p>

    <button
      (click)="irAPagina(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="rounded-md border border-fablab-border p-2.5 text-center text-sm transition-all shadow-sm hover:shadow-lg text-fablab-text-light hover:text-fablab-text-primary hover:bg-fablab-card-bg hover:border-fablab-border focus:text-fablab-text-primary focus:bg-fablab-border focus:border-fablab-border active:border-fablab-border active:text-fablab-text-primary active:bg-fablab-border disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-4 h-4 text-fablab-text-primary"
      >
        <path
          fill-rule="evenodd"
          d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</div>
