<div
    class="bg-white p-8 md:p-12 flex items-center justify-center z-10 relative"
  >
    <div class="w-full max-w-md rounded-2xl shadow-xl p-8 space-y-2">
      <div>
        <h1 class="text-3xl font-bold text-slate-900">Solicitud de ingreso</h1>
        <p class="text-gray-500 text-sm mt-1">Tomalo con responsabilidad</p>
      </div>

      <form class="space-y-2" [formGroup]="fbRegister" (ngSubmit)="registerUser()">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-800"
            >Correo institucional</label
          >
          <input
            name="emailId"
            required
            id="emailId"
            type="text"
            placeholder="correo@inacapmail.cl"
            class="w-full h-11 px-4 border border-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-800 text-gray-500"
            formControlName="email"
          />

        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-800"
            >Nombre</label
          >
          <input
            placeholder="Nombre"
            class="w-full h-11 px-4 border border-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-800 text-gray-500"
            formControlName="nombre"
          />
        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-800"
            >Apellido</label
          >
          <input
            placeholder="Apellido"
            class="w-full h-11 px-4 border border-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-800 text-gray-500"
            formControlName="apellido"
          />
        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-800"
            >Rut</label
          >
          <input
            name="rut"
            id="rut"
            type="text"
            placeholder="00.000.000-0"
            class="w-full h-11 px-4 border border-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-800 text-gray-500"
            formControlName="rut"
          />
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-800"
            >Carrera</label
          >
          <input
            name="carrera"
            id="carrera"
            type="text"
            placeholder="Selecciona tu carrera"
            class="w-full h-11 px-4 border border-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-800 text-gray-500"
            formControlName="carrera"
          />
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-800"
            >Telefono de contacto</label
          >
          <input
            name="telefono"
            id="telefono"
            type="text"
            placeholder="+56 9 0000 0000"
            class="w-full h-11 px-4 border border-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-800 text-gray-500"
            formControlName="telefono"
          />
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Contraseña</label
          >
          <input
            name="password"
            id="password"
            type="password"
            placeholder="••••••••"
            class="w-full h-11 px-4 text-gray-500 border border-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600"
            formControlName="contrasena"
          />

        </div>

        <button
          type="submit"
          class="w-full h-11 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-md transition"
        >
          Enviar solicitud
        </button>
        <div class="flex gap1 mt-1 items-end gap-1 justify-self-end">
          <p class="text-gray-500">¿Ya tienes una cuenta?</p>
          <a
            class="text-indigo-600 text-md hover:underline cursor-pointer"
            (click)="registerModeEmit()"
          >
            Inicia sesion</a
          >
        </div>
      </form>
    </div>
  </div>
