<div
    class="bg-white h-full p-8 md:p-12 flex items-center justify-center z-10 relative"
  >
    <div class="w-full max-w-md rounded-2xl shadow-xl p-8 space-y-2">
      <div>
        <label
          for="emailId"
          class="block text-sm font-medium text-fablab-text-primary"
        >
          Correo institucional
        </label>
        <input
          name="emailId"
          required
          id="emailId"
          type="text"
          placeholder="correo@inacapmail.cl"
          class="w-full h-11 px-4 border border-fablab-border rounded-md focus:outline-none focus:ring-2 focus:ring-fablab-primary text-fablab-text-primary bg-fablab-bg"
          formControlName="email"
        />
      </div>
      <div class="my-2">
        @if(CustomFormsValidations.ValidateErrors("email",fbRegister)){
        <span class="text-red-500">
          {{ CustomFormsValidations.ValidateErrors("email", fbRegister) }}
        </span>
        }
      </div>

      <div>
        <label class="block text-sm font-medium text-fablab-text-primary">
          Nombre
        </label>
        <input
          placeholder="Nombre"
          class="w-full h-11 px-4 border border-fablab-border rounded-md focus:outline-none focus:ring-2 focus:ring-fablab-primary text-fablab-text-primary bg-fablab-bg"
          formControlName="nombre"
        />
      </div>
      <div class="my-2">
        @if(CustomFormsValidations.ValidateErrors("nombre",fbRegister)){
        <span class="text-red-500">
          {{ CustomFormsValidations.ValidateErrors("nombre", fbRegister) }}
        </span>
        }
      </div>

      <div>
        <label class="block text-sm font-medium text-fablab-text-primary">
          Apellido
        </label>
        <input
          placeholder="Apellido"
          class="w-full h-11 px-4 border border-fablab-border rounded-md focus:outline-none focus:ring-2 focus:ring-fablab-primary text-fablab-text-primary bg-fablab-bg"
          formControlName="apellido"
        />
      </div>
      <div class="my-2">
        @if(CustomFormsValidations.ValidateErrors("apellido",fbRegister)){
        <span class="text-red-500">
          {{ CustomFormsValidations.ValidateErrors("apellido", fbRegister) }}
        </span>
        }
      </div>

      <div>
        <label class="block text-sm font-medium text-fablab-text-primary">
          Rut
        </label>
        <input
          name="rut"
          id="rut"
          type="text"
          placeholder="00.000.000-0"
          class="w-full h-11 px-4 border border-fablab-border rounded-md focus:outline-none focus:ring-2 focus:ring-fablab-primary text-fablab-text-primary bg-fablab-bg"
          formControlName="rut"
        />
      </div>
      <div class="my-2">
        @if(CustomFormsValidations.ValidateErrors("rut",fbRegister)){
        <span class="text-red-500">
          {{ CustomFormsValidations.ValidateErrors("rut", fbRegister) }}
        </span>
        }
      </div>

      <div>
        <label class="block text-sm font-medium text-fablab-text-primary">
          Carrera
        </label>
        <input
          name="carrera"
          id="carrera"
          type="text"
          placeholder="Selecciona tu carrera"
          class="w-full h-11 px-4 border border-fablab-border rounded-md focus:outline-none focus:ring-2 focus:ring-fablab-primary text-fablab-text-primary bg-fablab-bg"
          formControlName="carrera"
        />
      </div>
      <div class="my-2">
        @if(CustomFormsValidations.ValidateErrors("carrera",fbRegister)){
        <span class="text-red-500">
          {{ CustomFormsValidations.ValidateErrors("carrera", fbRegister) }}
        </span>
        }
      </div>

        <div class="flex gap1 mt-1 items-end gap-1 justify-self-end">
          <p class="text-gray-500">¿Ya tienes una cuenta?</p>
          <a
            class="text-indigo-600 text-md hover:underline cursor-pointer"
            (click)="registerModeEmit()"
          >
            Inicia sesion</a
          >
        </div>

      </form>
      @if(notificacionsStatusService.statusMessage()){
        <div class="mr-2 mt-2">
          <status-message/>
        </div>
      }
    </div>
  </div>
</div>
