<div
  class="card shadow-xl flex flex-col w-90 h-96 max-w-xs transition-transform duration-300 hover:scale-105 cursor-pointer bg-fablab-card-bg text-fablab-text-primary border border-fablab-border"
>
  <figure class="w-full h-[55%] overflow-hidden">
    <img
      class="w-full h-full object-cover"
      [src]="imgUrl()"
      [alt]="'Imagen de ' + title()"
    />
  </figure>

  <div class="card-body h-[45%] p-4 flex flex-col justify-between">
    <h2
      class="card-title text-base sm:text-lg md:text-xl font-semibold block w-full overflow-hidden whitespace-nowrap truncate text-fablab-text-primary"
      title="{{ title() }}"
    >
      {{ title() }}
    </h2>

    <p
      class="text-sm sm:text-base text-fablab-text-secondary leading-snug line-clamp-2"
      title="{{ description() }}"
    >
      {{ description() }}
    </p>
  </div>
</div>
