<div
  class="card shadow-xl flex flex-col w-90 h-96 max-w-xs transition-transform duration-300 hover:scale-105 cursor-pointer bg-fablab-card-bg text-fablab-text-primary border border-fablab-border"
>
  <figure class="w-full h-[55%] overflow-hidden">
    <img
      class="w-full h-full object-cover"
      [src]="imgUrl()"
      [alt]="'Imagen de ' + title()"
    />
  </figure>

  <div class="card-body h-[45%] p-4 flex flex-col justify-between">
    <h2
      class="card-title text-base sm:text-lg md:text-xl font-semibold block w-full overflow-hidden whitespace-nowrap truncate text-fablab-text-primary"
      title="{{ title() }}"
    >
      {{ title() }}
    </h2>

    <p class="text-sm sm:text-base text-fablab-text-secondary">
      Estado del proyecto: En desarrollo
    </p>

    <div class="overflow-hidden">
      <p class="text-sm sm:text-base font-medium text-fablab-text-primary">
        Participantes:
      </p>
      <ul
        class="text-sm sm:text-base list-disc pl-5 max-h-12 overflow-y-auto text-fablab-text-secondary"
      >
        <li>Participante 1</li>
        <li>Participante 2</li>
        <li>Participante 3</li>
        <li>Participante 4</li>
        <li>Participante 5</li>
      </ul>
    </div>
  </div>
</div>
