<div class="p-6">
  <h2 class="text-2xl font-bold mb-4 text-gray-200">Solicitudes</h2>

  <table class="w-full border-collapse border border-gray-300 text-sm">
    <thead class="bg-gray-600">
      <tr>
        <th class="border border-gray-700 px-4 py-2">ID</th>
        <th class="border border-gray-700 px-4 py-2">RUT</th>
        <th class="border border-gray-700 px-4 py-2">Nombre</th>
        <th class="border border-gray-700 px-4 py-2">Email</th>
        <th class="border border-gray-700 px-4 py-2">Tipo</th>
        <th class="border border-gray-700 px-4 py-2">Fecha</th>
        <th class="border border-gray-700 px-4 py-2">Estado</th>
        <th class="border border-gray-700 px-4 py-2">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudes" class="hover:bg-gray-500">
        <td class="border border-gray-700 px-4 py-2">{{ solicitud.id }}</td>
        <td class="border border-gray-700 px-4 py-2">{{ solicitud.rut }}</td>
        <td class="border border-gray-700 px-4 py-2">{{ solicitud.nombre }}</td>
        <td class="border border-gray-700 px-4 py-2">{{ solicitud.email }}</td>
        <td class="border border-gray-700 px-4 py-2">{{ solicitud.tipo }}</td>
        <td class="border border-gray-700 px-4 py-2">{{ solicitud.fecha | date:'dd/MM/yyyy' }}</td>
        <td class="border border-gray-700 px-4 py-2">
          <span 
            [ngClass]="{
              'text-yellow-600 font-medium': solicitud.estado === 'Pendiente',
              'text-green-600 font-semibold': solicitud.estado === 'Aceptada',
              'text-red-600 font-bold': solicitud.estado === 'Rechazada'
            }">
            {{ solicitud.estado }}
          </span>
        </td>
        <td class="border border-gray-600 px-4 py-2 space-x-2">
          <button
            (click)="openModal(solicitud)"
            class="bg-indigo-600 text-white px-3 py-1 rounded hover:bg-indigo-700"
          >
            Ver solicitud
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <modal-component
    [show]="isModalOpen"
    [title]="selectedSolicitud ? selectedSolicitud.titulo : ''"
    [description]="selectedSolicitud ? selectedSolicitud.descripcion : ''"
    acceptText="Aceptar"
    declineText="Rechazar"
    (accept)="aceptarSolicitud(selectedSolicitud.id)"
    (decline)="rechazarSolicitud(selectedSolicitud.id)"
    (close)="closeModal()"
  ></modal-component>
</div>
