<div class="border-fablab-border flex flex-col gap-3">
  @if(notificacionStatus.statusMessage()){
  <div class="fixed mb-2 mr-2 right-0 bottom-0">
    <status-message></status-message>
  </div>
  }
  <div
    class="flex flex-col md:flex-row md:items-center md:justify-between gap-4"
  >
    <h1 class="text-3xl font-bold text-fablab-text-primary">
      Panel Proyectos Personales
    </h1>
    <div
      class="flex flex-col md:flex-row items-stretch md:items-center gap-3 w-full md:w-auto"
    >
      <button
        routerLink="new-project"
        class="bg-fablab-accent text-black px-4 py-2 rounded-xl shadow hover:bg-fablab-accent-dark transition flex items-center gap-2 cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          stroke="black"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4v16m8-8H4"
          />
        </svg>
        Crear nuevo proyecto
      </button>
    </div>
  </div>

  <div class="overflow-x-auto pb-4">
    <div class="flex gap-4 px-1 min-w-max">
      <app-card
        *ngFor="let proyecto of projectsService.projectsDataByUser()"
        [title]="proyecto.titulo"
        [description]="proyecto.descripcionproyecto"
        [imgUrl]="proyecto.imgurl ?? 'assets/img/default-project.png'"
        [routerLink]="[proyecto.id]"
      ></app-card>
    </div>
  </div>

  <!-- <div class="divider"></div> -->

  <!-- Sección de proyectos en conjunto -->
  <!-- <h2 class="text-2xl font-bold text-white mb-4">Proyectos en conjunto</h2>
  <div class="overflow-x-auto pb-4">
    <div class="flex gap-4 px-1 min-w-max">
      <app-card
        *ngFor="let proyecto of proyecto | slice : 0 : 5"
        [title]="proyecto.titulo"
        [imgUrl]="proyecto.imgurl ?? 'assets/img/default-project.png'"
        [routerLink]="[proyecto.id]"
      ></app-card>
    </div>
  </div> -->
</div>
