@if(notificationStatus.statusTextMessage()){
  <div class="p-2 flex justify-center animate__animated animate__fadeInRight overflow-x-hidden"
  >
    <p class="bg-fablab-success p-6 rounded-2xl shadow-xl text-fablab-bg">
      {{messageDisplay()}}
    </p>
  </div>
}
@else{
  <div class="p-2 flex justify-center animate__animated animate__fadeInRight overflow-x-hidden "
  >
    <p class="bg-fablab-danger p-6 rounded-2xl shadow-xl text-fablab-bg">
      {{messageDisplayError()}}
    </p>
  </div>
}
