<div
  class="w-full max-w-6xl mx-auto rounded-2xl shadow-lg border border-fablab-border bg-fablab-card-bg p-8"
>
  <form
    autocomplete="off"
    [formGroup]="UpdateNewForm"
    (ngSubmit)="openModal()"
    class="space-y-4"
  >
    <div>
      <label
        for="epigrafe"
        class="block text-sm font-medium text-fablab-text-light"
      >
        Epígrafe
      </label>
      <textarea
        id="epigrafe"
        rows="1"
        placeholder="Epígrafe o subtítulo de la noticia"
        class="w-full rounded-lg border border-fablab-border bg-fablab-bg py-3 px-4 text-fablab-text-light text-md font-medium outline-none resize-none focus:border-fablab-primary focus:ring-1 focus:ring-fablab-primary"
        formControlName="epigrafe"
        value="{{ dataFormUpdate()?.epigrafe }}"
      ></textarea>
    </div>

    <div>
      <label
        for="title"
        class="block text-sm font-medium text-fablab-text-light"
      >
        Título de la noticia
      </label>
      <textarea
        id="title"
        rows="2"
        placeholder="Título principal"
        class="w-full rounded-lg border border-fablab-border bg-fablab-bg py-3 px-4 text-fablab-text-primary text-3xl font-bold outline-none resize-none focus:border-fablab-primary focus:ring-1 focus:ring-fablab-primary"
        formControlName="titulo"
        value="{{ dataFormUpdate()?.titulo }}"
      ></textarea>
    </div>

    <div>
      <label
        for="autor"
        class="block text-sm font-medium text-fablab-text-light"
      >
        Autor de la noticia
      </label>
      <textarea
        id="autor"
        rows="1"
        placeholder="Autor de la noticia"
        class="w-full rounded-lg border border-fablab-border bg-fablab-bg py-3 px-4 text-fablab-text-light text-lg font-medium outline-none resize-none focus:border-fablab-primary focus:ring-1 focus:ring-fablab-primary"
        formControlName="autor"
        value="{{ dataFormUpdate()?.autor }}"
      ></textarea>
    </div>

    <div>
      <label
        for="content"
        class="block text-sm font-medium text-fablab-text-light"
      >
        Contenido de la noticia
      </label>
      <textarea
        id="content"
        rows="8"
        placeholder="Descripción detallada de la noticia"
        class="w-full rounded-lg border border-fablab-border bg-fablab-bg py-3 px-4 text-fablab-text-light text-md outline-none resize-none focus:border-fablab-primary focus:ring-1 focus:ring-fablab-primary"
        formControlName="contenido"
        value="{{ dataFormUpdate()?.contenido }}"
      ></textarea>
    </div>

    <div class="pt-4 flex justify-end">
      <button
        type="submit"
        class="px-6 py-3 text-black text-base font-medium rounded-lg bg-fablab-accent hover:bg-fablab-accent-dark transition shadow-md"
      >
        Actualizar Contenido
      </button>
    </div>
  </form>
</div>

<modal-component
  [show]="isModalOpen"
  [description]="'¿Desea actualizar esta noticia con los datos introducidos?'"
  acceptText="Aceptar"
  declineText="Rechazar"
  (accept)="submitUpdateContent()"
  (decline)="closeModal()"
  (close)="closeModal()"
  [loading]="loading()"
></modal-component>
