<div
  class="flex items-center justify-center gap-6 text-fablab-text-secondary mt-4"
>
  <button
    (click)="previousPage()"
    [disabled]="currentPage === 1"
    class="p-2 rounded-lg border border-fablab-border hover:bg-fablab-card-bg disabled:opacity-50 transition"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 text-fablab-text-primary"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5 8.25 12l7.5-7.5"
      />
    </svg>
  </button>

  <p>
    Página
    <strong class="text-fablab-text-primary">{{ currentPage }}</strong> de
    <strong class="text-fablab-text-primary">{{ totalPages }}</strong>
  </p>

  <button
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
    class="p-2 rounded-lg border border-fablab-border hover:bg-fablab-card-bg disabled:opacity-50 transition"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 text-fablab-text-primary"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m8.25 4.5 7.5 7.5-7.5 7.5"
      />
    </svg>
  </button>
</div>
