<div
  class="fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-fablab-bg/70"
>
  <div class="relative w-full max-w-2xl p-4">
    <div
      class="relative bg-fablab-card-bg rounded-2xl shadow-lg flex flex-col max-h-[90vh] border border-fablab-border"
    >
      <div
        class="flex items-center justify-between p-4 border-b border-fablab-border"
      >
        <h3 class="text-xl font-semibold text-fablab-text-primary">
          {{ modalTitle() }}
        </h3>
        <button
          type="button"
          class="text-fablab-text-light hover:text-fablab-text-primary text-xl cursor-pointer"
          (click)="closeModal.emit(false)"
        >
          ✕
        </button>
      </div>

      <div class="p-6 space-y-4 overflow-y-auto">
        <form [formGroup]="fbEdit()!" (ngSubmit)="emitForm()" class="space-y-4">
          @for (controlName of formKeys(fbEdit()!); track $index) {
          <div class="flex flex-col">
            <label class="text-fablab-text-light text-sm mb-1 capitalize">
              {{ controlName }}
            </label>
            <input
              type="text"
              formControlName="{{ controlName }}"
              class="bg-fablab-bg border border-fablab-border text-fablab-text-primary rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fablab-primary"
            />
            <div class="my-2">
            @if(CustomFormsValidations.ValidateErrors(controlName.toString(),fbEdit()!)){
              <span class="text-red-500">
                {{CustomFormsValidations.ValidateErrors(controlName.toString(), fbEdit()!)}}
              </span>
            }
        </div>
          </div>
          }
        </form>
      </div>


      @if(loading()){
        <button
          type="submit"
          class="w-full h-11 bg-gray-400 text-white font-semibold rounded-md transition cursor-pointer flex justify-center items-center"
          [disabled]=""
        >
          <img src="../../../assets/icons/Rolling@1x-1.0s-200px-200px (1).svg" alt="" class="h-7 w-7">
        </button>
      }
      @else {
        <div class="flex justify-end p-4 gap-2 border-t border-fablab-border">
          <button
            type="button"
            class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700"
            (click)="closeModal.emit(false)"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="bg-fablab-accent text-black px-4 py-2 rounded-lg hover:bg-fablab-accent-dark transition"
            (click)="emitForm()"
          >
            Subir cambios
          </button>
        </div>
      }
    </div>
  </div>
</div>
