
<div class="absolute right-0 bottom-0 mr-5 mb-5 flex gap-3">
  <button class="btn btn-info">Editar noticia</button>
  <button class="btn btn-error">Eliminar noticia</button>
</div>
<div class="text-black bg-white p-5 w-full">
  <p>Lunes 23 junio de 2025 | 16:32</p>
  <h1 class="font-bold text-4xl text-justify mx-auto">Así es el minidron espía chino: es del tamaño de un mosquito.</h1>
  <div class="mt-5 flex">

    <div class="p-5 bg-amber-200 w-fit rounded-4xl">img</div>
    <div class="my-auto ml-5">
      <p>Autor: Diego Guerra</p>
      <p class="font-bold">Miembro de laboratorio FabLab</p>
    </div>

  </div>
  <p class="mt-5">El diminuto dron espía, apenas perceptible, fue presentado en un informe reciente del canal estatal militar chino CCTV7 por el investigador Liang Hexiang, de la NUDT, que también trabaja en el desarrollo de un robot humanoide, entre otros proyectos.
  “Tengo en la mano un robot con forma de mosquito. Este tipo de robots biónicos en miniatura son especialmente adecuados para tareas de inteligencia, reconocimiento y operaciones especiales en el campo de batalla”, declaró Liang Hexiang a CCTV7. En el informe también se presentó el prototipo de un minidron con cuatro alas, que puede ser controlado a través de un teléfono inteligente.</p>
</div>
