@if(openDeleteView()){
<modal-component
  [show]="openDeleteView()"
  [title]="'¿Esta seguro que desea eliminar este proyecto?'"
  [description]="
    'El o los usuarios participes del proyecto ya no tendran mas acceso a el'
  "
  (close)="openDeleteView.set(false)"
  (decline)="openDeleteView.set(false)"
  (accept)="deleteProject()"
  [loading]="loading()"
></modal-component>
}
<div class="flex justify-end mr-8">
  <back-button></back-button>
</div>

@if(projectsService.projectsResource.isLoading()){
  <div class="flex bg-fablab-card-bg mx-auto my-auto w-[90%] h-[50%] mt-8 rounded-2xl shadow-lg justify-center items-center">
    <img src="../../../../../assets/icons/Rolling@1x-1.0s-200px-200px (1).svg" alt="" class="w-20 h-20">
  </div>
}

@if(projectsService.projectsResource.hasValue() && projectFound()){
  <section class="flex flex-col gap-10 p-4 md:p-8">
  <div
    class="bg-fablab-card-bg rounded-2xl shadow-lg p-6 md:p-10 border border-fablab-border"
  >
    <h1 class="text-3xl font-bold text-fablab-text-primary mb-6">
      Previsualización del Proyecto
    </h1>

    <div class="flex flex-col lg:flex-row gap-8">
      <figure
        class="relative flex-shrink-0 w-full lg:w-1/2 h-64 md:h-80 bg-fablab-border rounded-2xl overflow-hidden flex items-center justify-center"
      >
      @if(!projectFound()?.imgurl){

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.2"
          stroke="currentColor"
          class="w-48 h-48 text-fablab-text-secondary"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"
          />
        </svg>
      }@else{
        <img [src]="projectFound()?.imgurl" alt="hola" class="w-48 h-48">
      }
      </figure>

      <div
        class="flex flex-col justify-between w-full lg:w-1/2 text-fablab-text-primary"
      >
        <div>
          <h2 class="text-2xl font-semibold mb-3 text-fablab-primary">
            {{ projectFound()?.titulo || "Proyecto sin título" }}
          </h2>
          <p class="text-fablab-text-secondary mb-4 leading-relaxed">
            {{
              projectFound()?.descripcionproyecto ||
                "No hay descripción disponible para este proyecto."
            }}
          </p>

          <ul class="space-y-1 text-sm">
            <li>
              <strong>📅 Fecha:</strong>
              {{ projectFound()?.fechainicio | date}}
            </li>
            <li>
              <strong>🧠 Categoría:</strong>
              {{ projectFound()?.categoria}}
            </li>
            <li>
              <strong>👥 Integrantes:</strong>
              logica para mostrar integrantes
            </li>
          </ul>
        </div>

        <div class="flex justify-end mt-6 gap-4">
          <button
            (click)="openDeleteView.set(true)"
            class="bg-fablab-danger text-white px-5 py-2 rounded-lg hover:bg-red-700 transition cursor-pointer"
          >
            Eliminar</button
          ><button
            class="bg-fablab-accent hover:bg-fablab-accent-dark text-black px-5 py-2 rounded-lg transition-transform hover:scale-105 cursor-pointer"
          >
            Editar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bg-fablab-card-bg rounded-2xl p-6 md:p-10 shadow-lg border border-fablab-border"
  >
    <div class="flex justify-between">
      <h1 class="text-3xl font-bold text-fablab-text-primary mb-6">
        Hoja de ruta del proyecto
      </h1>
      <button
        class="bg-fablab-accent text-black w-[150px] h-fit p-2 rounded hover:bg-fablab-accent-dark cursor-pointer"
      >
        Agregar hito
      </button>
    </div>

    <ol class="relative border-s border-fablab-border">
      @for (hito of projectFound()?.hitoproyecto; track $index) {
        <div class="flex mt-4 gap-2">
          <li class="mb-10 ms-6">
            <span
              class="absolute flex items-center justify-center w-6 h-6 bg-fablab-primary rounded-full -start-3 ring-8 ring-fablab-card-bg"
            >
              <svg
                class="w-2.5 h-2.5 text-black"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                />
              </svg>
            </span>
            <h3
              class="flex items-center mb-1 text-lg font-semibold text-fablab-text-primary"
            >
              {{ hito.nombreHito }}
            </h3>
            <time class="block mb-2 text-sm text-fablab-text-secondary"
              >{{hito.fecha | date}}</time
            >
            <p class="text-fablab-text-secondary mb-4">
              {{hito.descripcion}}
            </p>

          </li>
          <div class="flex gap-2">
            <a
               class="bg-fablab-accent text-black h-fit px-3 py-1 rounded hover:bg-fablab-accent-dark cursor-pointer "
             >
               Editar
             </a>
             <a
               class="bg-red-600 text-white h-fit px-3 py-1 rounded hover:bg-red-700 cursor-pointer"
             >
               Eliminar
             </a>
          </div>
        </div>
      }
    </ol>


  </div>
</section>
}




