<div
  class="max-w-lg mx-auto bg-fablab-card-bg rounded-2xl shadow-lg relative border border-fablab-border"
>
  @if(usersService.loaderPutProfile()){
  <div
    class="bg-fablab-card-bg/70 flex justify-center items-center w-full h-full z-10 rounded-2xl shadow-lg absolute"
  >
    <img
      src="../../../assets/icons/Rolling@1x-1.0s-200px-200px (1).svg"
      alt="Cargando"
      class="size-10"
    />
  </div>
  }

  <div class="p-6">
    <div class="flex items-center space-x-4 border-b border-fablab-border pb-4">
      @if(!authService.userData()?.foto_perfil){
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-20 text-fablab-text-primary"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>
      }@else{
      <img
        [src]="authService.userData()?.foto_perfil"
        alt="Foto de perfil"
        class="size-20 rounded-full border-2 border-fablab-primary"
      />

      <div>
        <h2 class="text-xl font-bold text-fablab-text-primary">
          {{ authService.userData()?.nombre }}
          {{ authService.userData()?.apellido }}
        </h2>
        <p class="text-fablab-text-light">{{ user.emailId }}</p>
      </div>

      }
    </div>

    @if(editMode()){
    <div class="mt-4 text-sm font-medium text-fablab-text-light">
      Cambiar foto de perfil
    </div>
    <input
      type="file"
      (change)="imageFileSelected($event)"
      class="w-full text-sm text-fablab-text-secondary file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-fablab-primary file:text-black hover:file:bg-fablab-accent-dark cursor-pointer"
    />
    }

    <form [formGroup]="fbUser">
      <div class="mt-4 space-y-3">
        <div>
          <label class="block text-sm font-medium text-fablab-text-light">
            Nombre
          </label>
          <input
            type="text"
            [readonly]="!editMode()"
            class="w-full mt-1 p-2 border border-fablab-border rounded-lg bg-fablab-bg text-fablab-text-primary"
            value="{{ authService.userData()?.nombre }} {{
              authService.userData()?.apellido
            }}"
            formControlName="nombre"
          />
          @if(CustomFormsValidations.ValidateErrors("nombre",fbUser)){
            <span class="text-red-500">
              {{ CustomFormsValidations.ValidateErrors("nombre",fbUser) }}
            </span>
          }
        </div>

        <div>
          <label class="block text-sm font-medium text-fablab-text-light">
            Apellido
          </label>
          <input
            type="text"
            [readonly]="!editMode()"
            class="w-full mt-1 p-2 border border-fablab-border rounded-lg bg-fablab-bg text-fablab-text-primary"
            value="{{ authService.userData()?.apellido }} {{
              authService.userData()?.apellido
            }}"
            formControlName="apellido"
          />
          @if(CustomFormsValidations.ValidateErrors("apellido",fbUser)){
            <span class="text-red-500">
              {{ CustomFormsValidations.ValidateErrors("apellido",fbUser) }}
            </span>
          }
        </div>

        <div>
          <label class="block text-sm font-medium text-fablab-text-light">
            Rut
          </label>
          <input
            type="text"
            [readonly]="!editMode()"
            class="w-full mt-1 p-2 border border-fablab-border rounded-lg bg-fablab-bg text-fablab-text-primary"
            value="{{ authService.userData()?.rut }}"
            formControlName="rut"
          />
          @if(CustomFormsValidations.ValidateErrors("rut",fbUser)){
            <span class="text-red-500">
              {{ CustomFormsValidations.ValidateErrors("rut",fbUser) }}
            </span>
          }
        </div>

        <div>
          <label class="block text-sm font-medium text-fablab-text-light">
            Carrera
          </label>
          <input
            type="text"
            [readonly]="!editMode()"
            class="w-full mt-1 p-2 border border-fablab-border rounded-lg bg-fablab-bg text-fablab-text-primary"
            value="{{ authService.userData()?.carrera }}"
            formControlName="carrera"
          />
          @if(CustomFormsValidations.ValidateErrors("carrera",fbUser)){
            <span class="text-red-500">
              {{ CustomFormsValidations.ValidateErrors("carrera",fbUser) }}
            </span>
          }
        </div>

        <div>
          <label class="block text-sm font-medium text-fablab-text-light">
            Teléfono
          </label>
          <input
            type="tel"
            [readonly]="!editMode()"
            class="w-full mt-1 p-2 border border-fablab-border rounded-lg bg-fablab-bg text-fablab-text-primary"
            value="{{ authService.userData()?.telefono }}"
            formControlName="telefono"
          />
           @if(CustomFormsValidations.ValidateErrors("telefono",fbUser)){
            <span class="text-red-500">
              {{ CustomFormsValidations.ValidateErrors("telefono",fbUser) }}
            </span>
          }
        </div>
      </div>
    </form>

    <div class="flex justify-end gap-2 mt-6">
      <button
        *ngIf="!editMode()"
        (click)="openEditModal()"
        class="px-4 py-2 bg-fablab-accent text-black rounded-lg hover:bg-fablab-accent-dark transition cursor-pointer"
      >
        Editar
      </button>

      <button
        *ngIf="editMode()"
        (click)="submitDataUser()"
        class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition cursor-pointer"
      >
        Guardar
      </button>
      <button
        *ngIf="editMode()"
        (click)="closeEditModal()"
        class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition cursor-pointer"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
