<!-- TODO: Hacer componente cargando contenido -->

@if(newsService.newsLoading()){
  <h1 class="text-2xl">Cargando contenido...</h1>
}

<h1 class="text-2xl font-bold">Ingresar Noticia</h1>
<!-- component -->
<div class="flex items-center justify-center px-6 mt-3">
  <div class="mx-auto w-full">
    <form autocomplete="off" [formGroup]="CreationNewForm" (ngSubmit)="submitPostContent()">
      <div class="mb-5">
        <label
          for="name"
          class="mb-3 block text-base font-medium text-white"
        >
          Titulo de la noticia
        </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Titulo de la noticia"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          formControlName="titulo"

        />
        @if(CustomFormsValidations.ValidateErrors("titulo", CreationNewForm)){
          <span class="text-red-500">
            {{CustomFormsValidations.ValidateErrors("titulo", CreationNewForm)}}
          </span>

        }
      </div>
      <div class="mb-5">
        <label
          for="email"
          class="mb-3 block text-base font-medium  text-white"
        >
          Epigrafe
        </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="epigrafe"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          formControlName="epigrafe"
        />
        @if(CustomFormsValidations.ValidateErrors("epigrafe", CreationNewForm)){
          <span class="text-red-500">
            {{CustomFormsValidations.ValidateErrors("epigrafe", CreationNewForm)}}
          </span>

        }
      </div>
      <div class="mb-5">
        <label
          for="subject"
          class="mb-3 block text-base font-medium  text-white"
        >
          Autor
        </label>
        <input
          type="text"
          name="subject"
          id="subject"
          placeholder="Autor"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          formControlName="autor"

        />
        @if(CustomFormsValidations.ValidateErrors("autor", CreationNewForm)){
          <span class="text-red-500">
            {{CustomFormsValidations.ValidateErrors("autor", CreationNewForm)}}
          </span>

        }
      </div>
      <div class="mb-5">
        <label
          for="message"
          class="mb-3 block text-base font-medium  text-white"
        >
          Contenido
        </label>
        <textarea
          rows="9"
          name="message"
          id="message"
          placeholder="Contenido"
          class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          formControlName="contenido"
        ></textarea>
        <div>
        </div>
      </div>
    </form>
    <button
      class="hover:bg-[#6A64F1]/70 rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none cursor-pointer"
      (click)="openModal()"
    >
      Ingresar
    </button>
</div>
</div>



<modal-component
[show]="isModalOpen"
[description]="'¿Desea crear esta noticia con los datos introducidos?'"
(accept)="submitPostContent()"
(close)="closeModal()"
(decline)="closeModal()"
/>
