<section
  class="p-6 max-w-3xl mx-auto bg-white dark:bg-slate-900 rounded-xl shadow-md"
>
  <h2 class="text-3xl font-bold text-slate-800 dark:text-white mb-6">
    Solicitud de Creación de Proyecto
  </h2>

  <form autocomplete="off" [formGroup]="newProjectForm" (ngSubmit)="submitNewProject()" >
    <!-- Título -->
    <div>
      <label
        class="block mb-1 text-sm font-medium text-gray-700 "
        >Título del proyecto</label
      >
      <input
        type="text"
        name="titulo"
        required
        class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-indigo-600 dark:bg-slate-800 text-black "
        placeholder="Ej. Plataforma para domótica"
        formControlName="titulo"
      />
    </div>

    <!-- Descripción -->
    <div>
      <label
        class="block mb-1 text-sm font-medium text-gray-700 dark:text-white "
        >Descripción breve</label
      >
      <textarea
        name="descripcion"
        rows="4"
        required
        class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-indigo-600 dark:bg-slate-800 text-black"
        placeholder="Describe en que consiste tu proyecto en pocas palabras..."
        formControlName="descripcionproyecto"
      ></textarea>
    </div>

    <!-- Categoría -->
    <div>
      <label
        class="block mb-1 text-sm font-medium text-gray-700 "
        >Categoría</label
      >
      <select
        name="categoria"
        required
        class="w-full px-4 py-2 border rounded-md dark:bg-slate-800 text-black"
        formControlName="categoria"
      >
        <option value="" disabled selected>Selecciona una categoría</option>
        <option>Impresión 3D</option>
        <option>Corte Láser</option>
        <option>Electrónica</option>
        <option>Mixto</option>
      </select>
    </div>

    <div>
      <label
        class="block mb-1 text-sm font-medium text-gray-700 "
        >Area de aplicación</label
      >
      <input
        type="text"
        name="titulo"
        required
        class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-indigo-600 dark:bg-slate-800 text-black "
        placeholder="Area de aplicacion"
        formControlName="areaaplicacion"
      />
    </div>

    <!-- Link de referencia -->
    <div>
      <label
        class="block mb-1 text-sm font-medium text-gray-700 "
        >Link de referencia (opcional)</label
      >
      <input
        type="url"
        name="referencia"
        placeholder="https://..."
        class="w-full px-4 py-2 border rounded-md dark:bg-slate-800 text-black"
      />
    </div>

    <!-- Fecha -->
    <div>
      <label
        class="block mb-1 text-sm font-medium text-gray-700 "
        >Fecha estimada de inicio</label
      >
      <input
        type="date"
        name="fechaInicio"
        required
        class="w-full px-4 py-2 border rounded-md dark:bg-slate-800 text-black"
        formControlName="fechainicio"
      />
    </div>

    <!-- Botón -->
    <div class="flex justify-end pt-4">
      <button
        type="submit"
        class="bg-indigo-600 text-white px-6 py-2 rounded-md hover:bg-indigo-700 transition"
      >
        Enviar solicitud
      </button>
    </div>
  </form>
</section>

<!-- Componente de exito de peticion -->
<div class="h-screen absolute top-0 w-full justify-center items-center z-10 bg-gray-400/50 hidden" #successPost>
  <success-component [urlName]="'/proyectos'" [tipoDePeticion]="'Ingresado'"></success-component>
</div>

